@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}

:root{
    --cor1: #e5e4e4;
    --cor2: #212121;
}

body{
    background-color: var(--cor1);
    color: var(--cor2);
}

header{
    background-color: var(--cor2);
    color: var(--cor1);
    height: 20vh;
}

header > h1{
    font-size: 2em;
    padding: 15px;
    text-align: center;
}

header > p{
    font-size: 0.8em;
    padding: 5px;
    text-align: center;
}

section{
    overflow: auto;
    scrollbar-width: none;
}